{__NOLAYOUT__}
<empty name="companies">
    <p id="no-ajax-content" style="text-align: center;font-size: 16px;color: #575151;padding: 15px 0 18px 0;">没有更多了</p>
    <else />
    <foreach name="companies" item="com" >
        <a href="{:U('Home/CompanyShow/index',array('id'=>$com['id']))}">
            <li>
                <div class="basicInformation">
                    <img src="{$com['logo']|get_img}" alt="">
                    <p>
                        <span>{$com['name']}</span><br>
                        <span><i class="icon-menu"></i>{$com['trade']}</span>
                    </p>
                    <div class="com-manage">
                        <span><i class="icon-doc-text-2"></i>{$com['invest']}</span>
                        <span><i class=" icon-users-outline"></i>{$com['scale']}</span>
                        <span><i class="icon-location-outline"></i>{$com['address']}</span>
                    </div>
                </div>
                <div class="num">
                    <p>{$com['view_num']}</p>
                    <span>阅览量</span>
                </div>
            </li>
        </a>
    </foreach>
</empty>