<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width , initial-scale=1 , minimum-scale=1.0 , maximum-scale=1.0 , user-scalable=no"/>
	<title>Document</title>
	<link rel="stylesheet" href="{$Think.config.MB_CSS_URL}reset.css"/>
	<link rel="stylesheet" type="text/css" href="{$Think.config.MB_CSS_URL}detail.css">
	<link rel="stylesheet" type="text/css" href="{$Think.config.MB_CSS_URL}chord.css"/>
	<link rel="stylesheet" type="text/css" href="{$Think.config.MB_CSS_URL}share.css"/>
	<script type="text/javascript" src="{$Think.config.MB_JS_URL}global.js"></script>
	<script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
	<style>
		#contactPerson > span{
			width: auto;
			font-weight: 600;
		}
		#contactPerson  > i {
			display: inline-block;
			color: #000;
			transform: rotate(90deg);
			font: 600 11px/14px cursive;
			margin-left: 10%;
			vertical-align: text-bottom;
			transition: transform .3s;
		}
	</style>
</head>

<body>
	<div class="main">
		<div class="header">
			<div class="img">
				<a href="javascript:history.go(-1)"><img src="{$Think.config.MB_IMG_URL}icon/Left.png" alt=""></a>
				<!--<img src="{$Think.config.MB_IMG_URL}icon/wrong (1).png">-->
			</div>
			<div class="title">
				<span class="show">职位详情</span>
				<a href="{:U('CompanyShow/index',array('id'=>$res_job['company_info']['id'],'from_jid'=>$res_job['jid']))}"><span>公司详情</span></a>
			</div>
		</div>

		<div class="container">
			<div class="banner"></div>
			<div class="banner1"></div>

			<div class="job">
				<div class="newList">
					<div>
						<span class="jobName">{$res_job['name']}</span>
						<span class="price">{$res_job['salary_low']}K ~ {$res_job['salary_high']}K</span>
					</div>
					<span class="conName">{$res_job['company_info']['name']}</span>
					
					<div class="require">
						<div>
							<img src="{$Think.config.MB_IMG_URL}icon/study.png" alt="">
							{$res_job['edu']}
						</div>
						<div>
							<img src="{$Think.config.MB_IMG_URL}icon/time.png" alt="">
							{$res_job['work_year']}
						</div>
						<div>
							<img src="{$Think.config.MB_IMG_URL}icon/person (2).png">
							{$res_job['need_people']}
						</div>
					</div>
				</div>
			</div>


			<div class="contact">
				<!--<span>-->
					<!--<img src="{$Think.config.MB_IMG_URL}icon/contact.png" alt="">-->
					<!--{$res_job['company_info']['short_name']}-->
				<!--</span>-->
				<!--<span>-->
					<!--<img src="{$Think.config.MB_IMG_URL}icon/contact (1).png" alt="">-->
					<!--{$res_job['company_info']['tel']}-->
				<!--</span>-->
				<!--<span class="email">-->
					<!--<img src="{$Think.config.MB_IMG_URL}icon/email.png" alt="">-->
					<!--{$res_job['company_info']['email']}-->
				<!--</span>-->
				<!--  add-->
				<div id="contactPerson" ><span>联系人</span><i>>></i></div>
				<if condition="$contact_way eq 1">
				<div style="display: none;">
					<span>
						<img src="{$Think.config.MB_IMG_URL}icon/contact.png" alt="">
						{$res_job['company_info']['short_name']}
					</span>
					<!--<span>-->
						<!--<img src="{$Think.config.MB_IMG_URL}icon/contact (1).png" alt="">-->
						<!--{$res_job['company_info']['tel']}-->
					<!--</span>-->
					<span class="email">
						<img src="{$Think.config.MB_IMG_URL}icon/email.png" alt="">
						{$res_job['company_info']['email']}
					</span>
				</div>
					<else/>
					<div style="display: none;">
					<span style="width: auto;display: block;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;">
						<img src="{$Think.config.MB_IMG_URL}icon/contact.png" alt="">
						{$msg}
						</span>
					</div>
				</if>
				<!--  add-->
			</div>

			<div class="address">
				<img src="{$Think.config.MB_IMG_URL}icon/building.png" alt="">
				{$res_job['company_info']['address']}
			</div>

			<div class="introduce">
				<!--<h3>职位描述</h3>-->
				<?php echo html_entity_decode($res_job['text'],ENT_QUOTES, 'UTF-8');?>
				<!--岗位职责：<br>-->
				<!--1、能较好的了客户端看见爱的空间撒爱发货考虑是否考虑到你脑复康你<br>-->
				<!--2、内而温暖人间你哦玩呢付款<br>-->
				<!--3、部分部分可接受的南方大厦大家看法好难得<br>-->
				<!--4、暴风科技说大部分看见的<br>-->
				<!--任职要求：<br>-->
				<!--1、大专以上学历<br>-->
				<!--2、内而温暖人间你哦玩呢付款<br>-->
				<!--3、部分部分可接受的南方大厦大家看法好难得<br>-->
				<!--4、暴风科技说大部分看见的<br>-->
			</div>
			
			<div class="comments">
				<h3>热门评论</h3>
				<div class="comments-text">
					<ul id="ajax_comment_return">
						<!--<li>-->
							<!--<div class="comments-pic">-->
								<!--<img src="demo/{$Think.config.MB_IMG_URL}4.png"/>-->
							<!--</div>-->
							<!--<div class="comments-name">-->
								<!--<span>呵呵哒</span>-->
								<!--<p>呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵呵</p>-->
							<!--</div>-->
							<!--<div class="comments-time">-->
								<!--<span>今天17：44</span>-->
							<!--</div>-->
						<!--</li>-->
					</ul>
				</div>
			</div>
		</div>

		<div class="footer">
			<!--<img src="{$Think.config.MB_IMG_URL}icon/heart.png">-->
			<if condition="($res_job['showCol'] eq 1)">
				<a  class="icon-star" onclick="collect_job({$res_job['jid']})"><img id="collect" src="{$Think.config.MB_IMG_URL}icon/collect.png" class="detail-rtxt deIcon" /></a>
				<else />
				<a  class="icon-star" onclick="collect_job({$res_job['jid']})"><img id="collect" src="{$Think.config.MB_IMG_URL}icon/collect-1.png" class="detail-rtxt deIcon" /></a>
			</if>
			<!--<div id="socialShare" ></div>-->
			<a href="{:U('Index/index')}"><img src="{$Think.config.MB_IMG_URL}icon/home1.png" class="oper-f"/></a>
			<form id="formID" style="display: inline-block;line-height: 1.5rem">
				<input type="hidden" name="job_id" value="{$res_job['jid']}"/>
				<input type="text" id="content" name="content" placeholder="我来说两句...">
				<button onclick="comment_submit(this)" type="button">评论</button>
			</form>
		</div>
	</div>
	<script src="{$Think.config.MB_JS_URL}jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
	<script>

        wx.config({
            debug: false,
            appId: 'wx5c0c4def22779391',
            timestamp: "{$weixin_config['timestamp']}",
            nonceStr: "{$weixin_config['noncestr']}",
            signature: "{$weixin_config['signature']}",
            jsApiList: [
                'checkJsApi',
                'onMenuShareTimeline',
                'onMenuShareAppMessage',
                'onMenuShareQQ',
                'onMenuShareWeibo',
                'onMenuShareQZone',
            ]
        });
        wx.ready(function () {
//            alert('已注册事件')
            wx.onMenuShareAppMessage({
                title: "{$user['realname']}送你一个【{$res_job['name']}】岗位",
                link: "{$weixin_config['url']}",
				desc: '好职位就在就业直达号！',
                imgUrl: "{$res_job['company_info']['logo']}",
                trigger: function (res) {
                    // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
//                    alert('用户点击发送给朋友');
                },
                success: function (res) {
                    var jid = {$res_job['jid']};
                    var url = "{:U('Mobile/User/share_job')}";
                    $.ajax({
                        type : "get",
                        data : {'jid':jid,},
                        url: url,
                        success: function(data)
                        {
                            var tmp = data;
                            if(data.code == 1){
                                alert(data.msg)
                            }
                            if(data.code == 2){
                                alert(data.msg)
                            }
                        }
                    });
                },
                cancel: function (res) {
//                    alert('已取消');
                },
                fail: function (res) {
                    alert(JSON.stringify(res));
                }
            });
                wx.onMenuShareTimeline({
                    title: "{$user['realname']}送你一个【{$res_job['name']}】岗位",
                    link: "{$weixin_config['url']}",
                    imgUrl: "{$res_job['company_info']['logo']}",
                    trigger: function (res) {
                        // 不要尝试在trigger中使用ajax异步请求修改本次分享的内容，因为客户端分享操作是一个同步操作，这时候使用ajax的回包会还没有返回
//                        alert('用户点击发送到朋友圈');
                    },
                    success: function () {
                        var jid = {$res_job['jid']};
                        var url = "{:U('Mobile/User/share_job')}";
                        $.ajax({
                            type : "get",
                            data : {'jid':jid,},
                            url: url,
                            success: function(data)
                            {
                                var tmp = data;
                                if(data.code == 1){
                                    alert(data.msg)
                                }
                            }
                        });
                    },
                    cancel: function () {
                        // 用户取消分享后执行的回调函数
                    }

                });
        });

	</script>
	<script type="text/javascript">
        $(document).ready(function(){
            ajaxComment();// ajax 加载评价列表
        });

	</script>
	<script type="text/javascript">
        var page = 1;
        var jid = {$res_job['jid']};
        var reg ="no-ajax-content"; //匹配<p>标签判断获取的页面是否没有更多了
        var newPage = true;
        var url = "{:U('Home/JobShow/get_job_comment')}";
        var com_id = {$res_job['company_id']};
        function ajaxComment(){
            //$('.get_more').show();
            if(newPage){
                $.ajax({
                    type : "get",
                    data : {'p':page,'jid':jid,'id':com_id,'is_mobile':1},
                    url: url,
                    dataType:'html',
                    success: function(data)
                    {
                        var tmp = data;
                        if(data){
                            //alert($(data).attr("id") );
                            $("#ajax_comment_return").append(data);
                            page++;
                            if(tmp.match(reg)){
                                //如果是no-ajax-content则标记为false
                                newPage = false;
                            }
                        }else{
//                           $("#mycomment").append(data);
//                            page++;
                        }
                    }
                });
            }

        }
        function getScrollTop(){
            var scrollTop = 0, bodyScrollTop = 0, documentScrollTop = 0;
            if(document.body){
                bodyScrollTop = document.body.scrollTop;
            }
            if(document.documentElement){
                documentScrollTop = document.documentElement.scrollTop;
            }
            scrollTop = (bodyScrollTop - documentScrollTop > 0) ? bodyScrollTop : documentScrollTop;
            return scrollTop;
        }
        //文档的总高度
        function getScrollHeight(){
            var scrollHeight = 0, bodyScrollHeight = 0, documentScrollHeight = 0;
            if(document.body){
                bodyScrollHeight = document.body.scrollHeight;
            }
            if(document.documentElement){
                documentScrollHeight = document.documentElement.scrollHeight;
            }
            scrollHeight = (bodyScrollHeight - documentScrollHeight > 0) ? bodyScrollHeight : documentScrollHeight;
            return scrollHeight;
        }
        //浏览器视口的高度
        function getWindowHeight(){
            var windowHeight = 0;
            if(document.compatMode == "CSS1Compat"){
                windowHeight = document.documentElement.clientHeight;
            }else{
                windowHeight = document.body.clientHeight;
            }
            return windowHeight;
        }
        window.onscroll = function(){
            if(getScrollTop() + getWindowHeight() == getScrollHeight()){
                ajaxComment();
            }
        };
	</script>
	<script>
		function check_content() {
			if($('#content').val() == ''){
			    alert('请输入评论内容')
				return false;
			}else {
                return true;
			}

        }
        function comment_submit(obj){
            if(!check_content()){
                return;
			}

            //表单对象
//            var form = $(obj).parent();
            var data = $('#formID').serialize();

            $.ajax({
                type : "POST",
                url:"{:U('Home/User/add_comment')}",
                data :data,// 你的formid 搜索表单 序列化提交
                success: function(data){
                    data = jQuery.parseJSON(data);
                    //console.log(data);
                    if(data.status == 1){
                        //评论成功
                        alert('评论成功');

                    }else if(data.status == -4) {
                        alert(data.msg);
                        window.location.href  = "{:U('User/edit_info')}"
                    }else if(data.status == -2) {
                        alert(data.msg);
                        window.location.href  = "{:U('Home/LoginApi/login',array('oauth'=>'qq','is_mobile'=>1))}"
                    }else{
                        alert(data.msg);
                    }
                }
            });
        }
	</script>
	<script type="text/javascript">
        // 点击收藏商品
        function collect_job(job_id){
            $.ajax({
                type : "post",
                dataType: "json",
                data : {'jid':job_id},
                url:"{:U('User/collect_job')}",
                success: function(data){
                    if (data.status == -2) {
                        alert(data.msg)
                        window.location.href  = "{:U('Users/login')}"
                    }else if(data.status == -4) {
                        alert(data.msg);
                        window.location.href  = "{:U('User/edit_info')}"
                    }else if (data.status == 1 || data.status == -3){
                        change_color()
                    }else{
                        alert(data.msg)
                    }
                }
            });
        }
        function change_color() {
            if ($('#collect').attr('src') == "{$Think.config.MB_IMG_URL}icon/collect-1.png"){
                $('#collect').attr('src',"{$Think.config.MB_IMG_URL}icon/collect.png");
            }else {
                $('#collect').attr('src',"{$Think.config.MB_IMG_URL}icon/collect-1.png");
            }
        }

	</script>
	<!--<script src="{$Think.config.MB_JS_URL}share.js" type="text/javascript" charset="utf-8"></script>-->
	<script type="text/javascript">
        $(function() {

            $('#contactPerson').click(function(){
                showReply(this);
            });

        });
        function showReply(obj) {
            if ($(obj).next().css('display') == 'none'){
                $(obj).next().fadeIn();
                $(obj).find('i').css('transform','rotate(-90deg)');
            }else {
                $(obj).next().fadeOut()
                $(obj).find('i').css('transform','rotate(90deg)');
            }
        }

	</script>

</body>
</html>