<script src="{$Think.config.JS_URL}jquery-3.1.0.js"></script>
<div class="main">
    <div class="information">
        <div class="information-subNav">
            <ul>
                <a href="{:U('Company/index')}"><li class=""><i class=" icon-user-1"></i>企业资料</li></a>
                <li class="click-textarea"><i class="icon-wallet"></i>企业介绍</li>
                <a href="{:U('Company/manage_job')}"><li><i class="icon-window"></i>职位管理</li></a>
                <li><i class="icon-heart-empty"></i>我的收藏</li>
                <a href="{:U('Company/show_identity')}"><li class="Enterprise-menu select"><i class="icon-lock-7"></i>企业认证</li></a>
                <li><i class="icon-database-2"></i>积分中心</li>
                <li><i class="icon-wallet"></i>钱包中心</li>

            </ul>
        </div>
        <!--<div style="clear: both"></div>-->
        <div class="information-content" style="overflow: hidden;height: auto;padding-bottom: 20px;">
            <div class="data">
                <span>认证申请</span>
            </div>
            <div class="C-textarea">
                <textarea id="desc" name="desc" placeholder="请输入企业介绍" style="">{$company['desc']}</textarea>
                <a href="javascript:update_desc()" class="animate-ok">确认</a>
            </div>
            <form  id="yourformid" action="">
                <div class="C-certification-box">

                    <div class="certification-box">
                        <p>第一步：选择认证材料的类型（2选1）</p>
                        <div class="certification-menu">
                            <ul>
                                <li class="certification-hover">营业执照</li>
                                <li>工牌</li>
                            </ul>
                        </div>
                        <p style="line-height: 20px;">第二步：上传提交证明材料<br />（您选择提交营业执照）</p>
                        <div class="Chorder-menu-date">
                            <input type="text" placeholder="请输入公司名"/>
                            <!--<span>正在审核中...</span>-->
                        </div>
                        <div style="text-align: center;" id="pic_dv"><img src="" alt="" id="pic_im" width="160" height="160" /></div>
                        <div style="text-align:center">(图片大小在2M以下)</div>
                        <div class="certification-dete">
                             选择图片
                            <input type="file" name="licence" id="link_pic" value="" accept="image/*"/>
                        </div>
                        <script type="text/javascript" src="__PUBLIC__/HomeStyle/js/uploadPreview.js"></script>

                        <script type="text/javascript">
                            $(function(){
                                new uploadPreview({ UpBtn: "link_pic", DivShow: "pic_dv", ImgShow: "pic_im" });
                            });
                        </script>
                        <div class="certification-dete">
                            上传
                            <input onclick="update_pic()" type="button" name=""  value="上传" accept="{$Think.config.IMG_URL}*"/>
                        </div>
                    </div>
                </div>
            </form>



        </div>
    </div>
</div>
<include file="Public:footer" />
</div>

<script>
    function update_desc() {
        var desc = $("#desc").val();
        var url = "{:U('Company/update_desc')}"
        $.ajax({
            type : "post",
            data : {'desc':desc},
            url: url,
            success: function(data)
            {
                if(data.status == 1){
                    location.reload()
                }else{
                    alert(data.msg);
                }
            }
        });
    }
    function update_pic() {
        var link_pic = new FormData(document.getElementById("yourformid"));
        var url = "{:U('Company/do_identity_auth')}"
        $.ajax({
            url : url,
            type : 'post',
            data : link_pic,
            processData:false,
            contentType:false,
            success : function(res)
            {
                if(res.code == 1){
                    alert(res.msg)
                    window.location.href="{:U('Company/show_identity')}"
                }else {
                    alert(res.msg)
                }

            }
        });
    }
    $(function () {
        $('.information-subNav li').click(function () {
            $('.information-subNav li').removeClass('select');
            $(this).addClass('select');
        })

        $(".click-textarea").click(function(){
            $(".open-position").hide();
            $(".C-list").hide();
            $(".C-certification-box").hide();
            $(".C-textarea").show();
            $(".C-textarea").find("textarea").show();
            $(".C-textarea").find("a").show();
        });
        $(".animate-ok").click(function(){
            $(".open-position").show();
            $(".C-list").show();
            $(".C-textarea").find("textarea").hide();
            $(".C-textarea").find("a").hide();
        });

        function edit_or_save() {
            if($(".C-edit a").html()=="编辑"){
                $(".com-manage").find("input").removeAttr("disabled").css("border","#ddd 1px solid");
                $(".C-edit a").html("保存");
            }
        }
        $(".C-edit a").click(function(){

            if($(".C-edit a").html()=="编辑"){
                $(".com-manage").find("input").removeAttr("disabled").css("border","#ddd 1px solid");
                $(".C-edit a").html("保存");
            }else{
//                $(".C-edit a").html("编辑");
//                $(".com-manage").find("input").attr("disabled","disabled").css("border","0");
                var data = new FormData(document.getElementById("identityAuth"));
                var url = "{:U('Company/update_detail')}";
                $.ajax({
                    type : "get",
                    data : {'data':data},
                    url: url,
                    contentType:false,
                    success: function(data)
                    {
                        if(data.status == 1) {
                            window.location.reload;
                        }else{
                            alert(data.msg)
                        }
                    }
                });
            }
        });

        $(".C-offon span").click(function(){
            if(!$(this).hasClass("C-off_hover")){
                if(confirm("确定打开嘛？")){
                    $(this).addClass("C-off_hover");
                }
            }else{
                if(confirm("确定关闭嘛？")){
                    $(this).removeClass("C-off_hover");
                }
            }
        });

//        $(".Enterprise-menu").click(function(){
//            $(".open-position").hide();
//            $(".C-list").hide();
//            $(".C-textarea").hide();
//            $(".C-certification-box").show();
//            $(".C-certification-box form").show();
//        });

        $(".certification-menu ul li").click(function(){
            $(this).addClass("certification-hover").siblings().removeClass("certification-hover");
        });
    })
</script>
</body>
</html>